assertpy==1.1
attrs==25.1.0
behave==1.2.6
behavex==4.1.0
behavex-images==3.0.10
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
configobj==5.0.9
csscompressor==0.9.5
dotmap==1.3.30
greenlet==3.1.1
htmlmin==0.1.12
idna==3.10
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
numpy==2.0.2
packaging==24.2
parse==1.20.2
parse_type==0.6.4
pillow==11.1.0
pip-review==1.3.0
playwright==1.50.0
pur==7.3.3
pyee==12.1.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.23.1
six==1.17.0
typing_extensions==4.12.2
urllib3==2.3.0
